h1 {
  font-size: 100px;
  color: #252424;
  font-family: 'Abril Fatface', cursive;
}

h2 {
  font-size: 30px;
  color: #252424;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

h3 {
  font-size: 30px;
  color: white;
  padding-left: 20%;
  text-align:left;
  font-family: 'Julius Sans One', sans-serif;
}

p {
  font-size: 21px;
  color: white;
  padding-left: 20%;
  text-align: left;
  width: 70%;
  font-family: 'Karla', sans-serif;
}

a{
  color:white;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 10px solid #252424;
}

.tagline{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.picturebox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.box{
  width: 50%
}

.bild{
  width: 40%;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagline {
  font-size: 20px;
  color: #252424;
  text-align: center;
  font-family: 'Assistant', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252424;
}

.about{
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 70%;
  padding-bottom: 30px;
}

.contact{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  padding: 70px;
}

.contact img{
  max-width: 70%;
  height: auto;
}


.pic{
  width: 30%
}

.box img {
  width: 70%;
  margin: 0 auto;
  display: block;
}

@media (max-width:600px) {
h1{
    font-size: 40px;
  }

h2 {
    font-size: 18px;
  }

p{
  text-align: center;
  font-size: 14px;
  padding-top: 50px;
}

.container{
    display: block;
  }

.box {
    width: 100%;
  }

.contact img {
  max-width: 50%;
  height: auto;
}
}
