h1 {
  font-size: 100px;
  color: #252424;
  font-family: 'Abril Fatface', cursive;
}

h2 {
  font-size: 30px;
  color: #252424;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

h3 {
  font-size: 70px;
  color: white;
  color-link: white;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

p {
  font-size: 25px;
  color: white;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

a{
  color:white;
}

.header{
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
}

.tagline{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.picturebox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.box{
  width: 50%
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagline {
  font-size: 20px;
  color: #252424;
  text-align: center;
  font-family: 'Assistant', sans-serif;
}

.footer {
  display: flex;
  align-items: center;
  background-color: #252424;
  padding: 100px;
  justify-content: center;
}


.box img {
  width: 70%;
  margin: 0 auto;
  display: block;
}

@media (max-width:600px) {
h1{
    font-size: 40px;
  }
h2 {
    font-size: 18px;
  }
p{
  font-size: 14px;
}
.container{
    display: block;
  }
.box {
    width: 100%;
  }
}
